{
  "semi": true,
  "tabWidth": 4,
  "printWidth": 100,
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.json", "*.md", "*.yml", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
